<html>
<head>
	<meta charset="utf-8"/>
	<title>{{ game.name }}</title>
	<link href="/static/style.css" rel="stylesheet">
</head>
<body>

	<div id="index">
		<h1>
			Who Wants to </br> be a Millionaire?
		</h1>
		<div id="content">
			<div id="game">
				<h2>{{ game.name }}</h2>
				<a href="{% url 'million-play' game_id=game.pk %}">Play</a>
			</div>
			<ol id="sidebar">
				{% for question in questions %}
					<li>{{ question.dollars }}</li>
				{% endfor %}
			</ol>
		</div>

		</div>

</body>
