{% load i18n %}
<html>
<head>
	<meta charset="utf-8"/>
	<title>{% trans "Jeopardy" %}</title>
	<link href="/static/style.css" rel="stylesheet">
</head>
<body>
	<audio autoplay="autoplay" controls>
	  <source src="/static/RegisWalksIn.mp3" type="audio/mpeg">
	</audio>
	<div id="index">
		<h1>
			{% trans "Jeopardy" %}
		</h1>

		<p>
			{% trans "Please Choose a Game to Play!" %}
		</p>
		<ul>
			{% for game in games %}
				<li><a href="{{ game.get_absolute_url }}">{{ game.name }}</a></li>
			{% endfor %}
		</ul>
		<ol id="sidebar">
			{% for player, points in players %}
			<li>{{ player }} - {{ points }}</li>
			{% endfor %}
		</ol>
	</div>
</body>
