{% load i18n %}
<html>
<head>
	<meta charset="utf-8"/>
	<title>{% trans "Jeopardy" %}</title>
	<link href="/static/style.css" rel="stylesheet">
	<link href="/static/jeopardy.css" rel="stylesheet">
</head>
<body>
	<audio autoplay="autoplay" controls>
	  <source src="/static/correct-jeopardy-answer.mp3" type="audio/mpeg">
	</audio>
	<div id="index">
		{% if topic and point %}
			<p class="center" id="topic-value"> {{ topic.name }} : {{ point.value }}
			{% if question.bonus %}
				<span class="bonus">+ {{ question.bonus }} {% trans "Bonus Points" %}!</span>
			{% endif %}
			</p>
		{% endif %}
		{% if bonus %}
			<h2>{% trans "Bonus Question" %} : {{ question.value }}</h2>
		{% endif %}
		<h1>
			{{ question.question }}
		</h1>
		{% if question.picture %}
			<div class="center">
				<img style="max-width:300px; max-height:300px" src="{{ question.picture.url }}" />
			</div>
		{% endif %}
		<h2 class="correct">
			{% trans "Correct" %} <br />
			{% trans "Answer" %}: {{ question.answer }}
		</h2>
		{% if question.correct_picture %}
			<div class="center">
				<img style="max-width:300px; max-height:300px" src="{{ question.correct_picture.url }}" />
			</div>
		{% endif %}
		<form method="post" action="{% url "jeopardy-game-points" game_id=game.pk question_id=question.pk %}">
			{% csrf_token %}
			<input type="hidden" name="question" value="{{ question.pk }}" />
			{% if bonus %}
				<input type="hidden" name="bonus" value="yes" />
			{% endif %}
			<p>
				{% blocktrans with point.value as points %}Who won these {{ points }} points?{% endblocktrans %}
			</p>
			<ul style="font-size:2em;">
				{% for player, points in players %}
					<li><label><input type="radio" name="player" value="{{ player}}" /> {{ player}}</label></li>
				{% endfor %}
			</ul>
			<div class="right">
				<input type="submit" style="font-size:1.25em;" value="Done">
			</div>
		</form>
	</div>
</body>
