{% load i18n %}
<html>
<head>
	<meta charset="utf-8"/>
	<title>{% trans "Jeopardy" %}</title>
	<link href="/static/style.css" rel="stylesheet">
	<link href="/static/jeopardy.css" rel="stylesheet">
	<script src="/static/jquery-2.1.1.js" ></script>
</head>
<body>
	{% if not question.sound %}
		{% if bonus %}
		<audio autoplay="autoplay" controls>
		  <source src="/static/final-jeopary-question.mp3" type="audio/mpeg">
		</audio>
		{% elif game.use_countdown %}
		<audio id="ticker-clock" controls>
		  <source src="/static/ticker.mp3" type="audio/mpeg">
		</audio>
		{% endif %}
	{% endif %}
	<div id="index">
		{% if topic and point %}
			<p class="center" id="topic-value"> {{ topic.name }} : {{ point.value }}
			{% if question.bonus %}
				<span class="bonus">+ {{ question.bonus }} {% trans "Bonus Points" %}!</span>
			{% endif %}
			</p>
		{% endif %}
		{% if bonus %}
			<h2>{% trans "Bonus Question" %} : {{ question.value }}</h2>
		{% endif %}
		<h1>
			{{ question.question }}
		</h1>
		{% if question.picture %}
			<div class="center">
				<img style="max-width:300px; max-height:300px" src="{{ question.picture.url }}" />
			</div>
		{% endif %}
		{% if question.sound %}
		<div class="center">
			<audio id="sound_file" controls>
			  <source src="{{ question.sound.url }}" type="audio/mpeg">
			</audio>
		</div>
		{% endif %}
		<script>
			var seconds = {{ game.countdown_seconds }};
			var seconds_change = 1;
			window.setTimeout(function() {
				var sound = document.getElementById('sound_file');
				if(sound) {
				 sound.play();
				}
			}, 2000);
			{% if game.use_countdown %}
			window.setTimeout(function() {
				var ticker = document.getElementById('ticker-clock');
				if(ticker) {
					ticker.play();
				}
				var inter = window.setInterval(function () {
					if(seconds_change == 0) {
						return;
					}
					if (seconds >= 0) {
						$("#time").text(seconds);
						if (seconds <= 5) {
							$("#time-box").addClass("low");
						}
						seconds -= seconds_change;
					} else {
						$("#game_form").submit();
						window.clearInterval(inter);
					}
				}, 750);
			}, 3000);
			{% endif %}
		</script>
		<form id="game_form" action="" method="post">
			{% csrf_token %}
			<input type="hidden" name="question" value="{{ question.pk }}" />
			<table>
				<tr>
			<td><button type="submit" name="thumbs_up"><img src="/static/thumbs_up.png"></button></td>
			<td><button type="submit" name="thumbs_down"><img src="/static/thumbs_down.png"></button></td>
				</tr>
			</table>
		</form>
		{% if game.use_countdown %}
		<div id="time-box" class="center">
			<span id="time">{{ game.countdown_seconds }}</span> {% trans "Seconds" %}
			<button id="pause" style="display:inline;width:5em;">{% trans "Pause" %}</button>
			<script>
				$("#pause").on('click', function(event) {
					if(seconds_change == 0) {
						seconds_change = 1;
						$("#pause").html("{% trans "Pause" %}");
					} else {
						seconds_change = 0;
						$("#pause").html("{% trans "Start" %}");
					}
				});
			</script>
		</div>
		{% endif %}
		<p>
			<a href="{% url 'jeopardy-game' game_id=game.pk %}">{% trans "Cancel"%}</a>
		</p>
		</ul>
	</div>
</body>
