{% load i18n %}
{% load jeopardy %}
<html>
<head>
	<meta charset="utf-8"/>
	<title>{% trans "Jeopardy" %}</title>
	<link href="/static/style.css" rel="stylesheet">
	<link href="/static/jeopardy.css" rel="stylesheet">
	<script src="/static/jquery-2.1.1.js" ></script>
</head>
<body>
	<!--<audio autoplay="autoplay" controls>
	  <source src="/static/RegisWalksIn.mp3" type="audio/mpeg">
	</audio>-->
	<div id="index">
		<h1>
			{% trans "Jeopardy" %}
		</h1>
		{% for player, points in players %}
		<li>{{ player }} - {{ points }}</li>
		{% endfor %}
		<p>
			<a href="{% url 'jeopardy' %}">{% trans "New Game"%}</a>
		</p>
	</div>
</body>
