body {
    background-image: url("background.jpg");
    background-size: 100%;
    color:#ffffff;
}

#index {
    width:500px;
    margin:0 auto;
}

#index h1,
#index h2{
    text-align:center;
    color:#fff;
    margin:50px;
    text-shadow: 2px 2px 2px #000000;
}

#index p {
    text-align:center;
    color:#fff;
    text-shadow: 1px 1px 1px #000000;
}

#index a,
#index button {
    font-weight: bold;
    text-shadow: 2px 2px 2px #000000;
    box-shadow: 0px 0px 5px #000000;
    color:#fff;
    text-decoration: none;
    display:block;
    border:5px solid #002AA8;
    font-size:20px;
    margin:10px;
    padding:10px;
    border-corner-shape: bevel;
    border-radius: 25px 25px 25px 25px;
    background:none;
    width:100%;
    box-sizing: border-box;
}

#index a:hover {
    box-shadow: 0px 0px 5px #000000 inset;
}


#index li {
    list-style-type: none;
}

#content {
    width:800px;
    margin:0 auto;
}

#game {
    width:500px;
    float:left;
}

#sidebar {
    width: 200px;
    float: right;
    border: 3px solid #FFCC00;
    padding:20px;
}

#sidebar li {
    list-style-type: decimal;
    margin:2px 20px;
    padding:2px;
    color:#fff;
}

#sidebar li.threshold {
    color:#FFCC00;
}

#sidebar li.current {
    background: #FFCC00;
}

table {
    width:100%;
}

table td {
    width:50%;
    padding:10px;
}

#index h2.correct {
    color:#33CC00;
}

#index h2.wrong {
    color:#ff0000;
}

#helps {
    position:fixed;
    left:10px;
    top:60px;
}

#helps a {
    display:block;
    color:#fff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    border: 3px solid #FFCC00;
    margin:10px;
    border-radius: 25px 25px 25px 25px;
    height:64px;
    width:64px;
    line-height:64px;
}

.center {
    text-align:center;
    margin:0 auto;
}

.right {
    text-align: right;
}