#index {
    width:100%;
    margin:0 auto;
    font-size:1.25em;
}

#content {
    width:100%;
}

#game-table td,
#scores td {
    border: 3px solid #ffffff;
    width: 20%;
    text-align: center;
    font-size:50px;
}

#sidebar {
    width:250px;
    margin:10px 0;
    border-collapse: collapse;
}

#sidebar td {
    padding:5px;
}

#game-table td a {
    font-size:50px;
}

#game-table tbody td {
    padding:5px;
    color:#ff0000;
    line-height:65px;
}

#game-table thead td {
    font-weight:bold;
    font-size:35px;
    color:#FFFF00;
}

#game-table td a {
    color:#ffffff;
    display:block;
    width:100%;
    border:0;
    box-shadow:none;
    padding:0;
    margin:0;
}

#game-table, #scores {
    border-collapse: collapse;
    width:100%;
}

#topic-value {
    font-size:1.5em;
    font-weight:bold;
}

#topic-value .bonus {
    color:#FFFF00;
}

#time-box {
    font-size:1.5em;
}

#time-box.low {
    color:#ff0000;
}

.larger_form,
.larger_form input {
    font-size:1.25em;
}

#flash-box {
    position: fixed;
    top:0;
    left:0;
    height:100%;
    line-height: 400px;
    box-sizing: border-box;
    width:100%;
    vertical-align: middle;
    text-align:center;
    color:#FFCC00;
    font-size:150px;
    background:rgba(0,0,0,0.5);
}

#player-box {
    text-align: center;
}