

#game-table td,
#scores td {
    border: 3px solid #ffffff;
    width: 20%;
    text-align: center;
    font-size:30px;
}

#game-table td a {
    font-size:30px;
}

#game-table tbody td {
    padding:5px;
    color:#aaaaaa;
    line-height:40px;
}

#game-table thead td {
    font-weight:bold;
    color:#FFFF00;
}

#game-table td a {
    color:#ffffff;
    display:block;
    width:100%;
    border:0;
    box-shadow:none;
    padding:0;
    margin:0;
}

#game-table, #scores {
    border-collapse: collapse;
}

#topic-value {
    font-size:1.5em;
    font-weight:bold;
}

#topic-value .bonus {
    color:#FFFF00;
}

#time-box {
    font-size:1.5em;
}

#time-box.low {
    color:#ff0000;
}